@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* TABLE */

.table {
  display: flex;
  gap: 40px;
  padding: 20px;
}

.table__column {
  flex: 1;
}

.table__section {
  margin-bottom: 40px;
}

.table__heading {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 22px;
}

.table__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table__label,
.table__value {
  font-size: 12px;
  font-weight: 400;
}

/*TABLE MEDIA */

@media (max-width: 768px) {
  .table {
    flex-direction: column;
    padding: 20px;
  }

  .table__heading {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .table__label,
  .table__value {
    font-size: 14px;
    font-weight: 400;
  }

  .table__row {
    margin-bottom: 10px;
  }
}

/* CARDS CONTAINER */

.card__container-main {
  display: flex;
}

.card__container-button {
  margin-left: auto;
  margin-top: 77px;
}

/* CARDS */
.card {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 5px #0000001a;
  overflow: hidden;
  background-color: #fff;
  border: #f9ce1e 1px solid;
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
}

.card__title {
  font-weight: 600;
  font-size: 14px;
  color: #424141;
  margin-left: 11px;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s ease;
}
.card__title:hover {
  color: #6e6a6a;
}

.card__vendor {
  font-weight: 400;
  font-size: 12px;
  color: #89817f;
  margin-top: 7px;
  margin-left: 13px;
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-top: 29px;
  margin-left: 13px;
  margin-bottom: 12px;
  text-align: left;
}

.card__volume {
  font-weight: 400;
  font-size: 12px;
  color: #3d3c3c;
  margin-left: 4px;
}

.card__container-rating {
  position: relative;
  margin-left: 13px;
  margin-top: 0px;
}

.card__rating {
  float: left;
  height: 15px;
  padding: 0px 3px 30px 0px;
  transition: all 0.3s ease;
}
.card__rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.card__rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 15px;
  color: #ccc;
}
.card__rating:not(:checked) > label:before {
  content: "★ ";
}
.card__rating > input:checked ~ label {
  color: #f9ce1e;
}
.card__rating:not(:checked) > label:hover,
.card__rating:not(:checked) > label:hover ~ label {
  color: #f9ce1e;
}
.card__rating > input:checked + label:hover,
.card__rating > input:checked + label:hover ~ label,
.card__rating > input:checked ~ label:hover,
.card__rating > input:checked ~ label:hover ~ label,
.card__rating > label:hover ~ input:checked ~ label {
  color: #f9ce1e;
}

/*button card*/

.card__button-image {
  width: 66px;
  height: 36px;
  transition: all 0.3s ease;
}

.card__button:hover img {
  width: 69px;
  height: 39px;
}

/*like*/

.card__like-image {
  width: 20px;
  height: 18px;
  transition: all 0.3s ease;
}
.card__container-image {
  position: relative;
  margin-bottom: 14px;
}
.card__like {
  position: absolute;
  z-index: 3;
  left: 214px;
  top: 16px;
  bottom: 90;
  transition: all 0.3s ease;
}

.card__like:hover img {
  width: 23px;
  height: 21px;
}

/* temporary*/
.footer {
  margin-bottom: 20px;
}
